.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-style: solid;
   background-color: white;
   border-radius: 10px;
   border-color: aquamarine;
}



